@import './utils/colors';
@import './mixins/positioning';

.category {
  width: 100%;
  &__new {
    width: 55%;
    margin-top: 5rem;
  }
  &__info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    align-items: baseline;
    &-title {
      text-align: center;
      color: $title-color;
    }
    &-button {
      justify-content: center;
    }
  }
  &__form-buttons {
    @include flex-center();
    button {
      width: 9rem;
    }
  }
}