@import './mixins/positioning';

$page-margin: 4rem;

body {
  margin: $page-margin;
  .container {
    &__title {
      text-align: center;
    }
    &__content {
      margin-top: 2rem;
      @include flex-center();
      .cards {
        justify-content: center;
      }
    }
  }
}