@import './utils/colors';

.topic {
  &__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    align-items: baseline;
    &-title {
      text-align: center;
      color: $title-color;
    }
    &-button {
      justify-content: center;
    }
  }
}