{% extends "main.html" %}
{% block content %}
<h1>{{category.name}}'s Page</h1>
{% if articles %}
  <ul>
    {% for article in articles %}
      <li>
        <a href="{{url_for('show_article', category_url=category.url, article_id=article.id, topic_url=topic_url)}}">{{article.name}}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>There are no articles for this category</p>
{% endif %}
<a class="ui primary button" href="{{url_for('create_article', topic_url=topic_url, category_url=category.url)}}">New Article</a>
{% endblock %}