{% extends "main.html" %}
{% block content %}
<div class="article article__form--edit">
  <form class="ui form" method="post" action="#">
    <label for="edited-name">Article Name</label>
    <input id="edited-name" type="text" maxlength="50" name="aname" value={{article.name}} />
    <label for="edited-content">Article Content</label>
    <textarea id="edited-content" rows="5" name="acontent">{{article.content}}</textarea>
    <button class="ui primary button" type="submit">Submit</button>
    <a class="ui button" href="{{url_for('show_category', topic_url=topic_url, category_url=category_url)}}">Cancel</a>
  </form>
</div>
{% endblock %}