{% extends "main.html" %}
{% block content %}
<div class="article article__new">
  <form id="article__form" class="ui form" action="#" method="post">
    <div class="field">
      <label for="article-name">Article Name</label>
      <input id="article-name" type="text" maxlength="50" name="aname"/>
    </div>
    <div class="field">
      <label for="article-content">Article Content</label>
      <textarea id="article-content" rows="5" name="acontent"></textarea>
    </div>
    <div class="article__form-buttons">
      <button class="ui primary button" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}