{% extends "main.html" %}
{% block content %}
<div class="category category__new">
  {% if error %}
    <div class="category__error">
      <div class="ui negative message">
        <div class="header">
          We're sorry, we can't create that category
        </div>
        <p>That category name has already been created. Please choose a new category name or select this category name from the topic's category list</p>
      </div>
    </div>
  {% endif %}
  <form class="ui form category__form" action="#" method="post">
    <div class="field">
      <label for="category-name">Category Name</label>
      <input id="category-name" type="text" maxlength="50" name="cname" required/>
    </div>
    <div class="field">
      <label for="image-name">Upload an image</label>
      <input id="image-name" type="file" name="fname" accept="image/*"/>
    </div>
    <div class="category__form-buttons">
      <button class="ui primary button new-category__form-button" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}