{% extends "main.html" %}
{% block content %}
<div class="topic">
  <div class="topic__info">
    <h3 class="topic__info-title">{{topic.name}}</h3>
    <a class="ui primary button topic__info-button" href="{{url_for('create_category', topic_url = topic.url)}}">New Category</a>
  </div>
  <div class="ui link cards">
    {% for category in categories %}
      <a class="card" href="{{url_for('show_category', topic_url = topic.url, category_url = category.url)}}">
        <div class="image">
          {% if category.image %}
            <img src="{{url_for('static', filename='images/' + category.image)}}">
          {% else %}
            <img src="{{url_for('static', filename='images/noimage.jpg')}}">
          {% endif %}
        </div>
        <div class="content">
          <div class="header">{{category.name}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}